
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/outputs.h>

#define BASE 0
#define NUM 1
#define NAV 2
#define SYM1 3
#define SYM2 4
#define FUN 5
#define BLE 6

//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮                             ╭────────────────────────┬────────────────────────┬────────────────────────┬────────────────────────╮
//                          | 0                      | 1                      | 2                      |                             | 3                      | 4                      | 5                      | 6                      | 
//                          |                    ╭────────╮               ╭────────╮                   |                             |                    ╭────────╮              ╭────────╮                ╭────────╮                   |
//                          |                    |        |               |   Y    |                   |                             |                    |        |              |        |                |        |                   |
//                          |                    ╰────────╯               ╰────────╯                   |                             |                    ╰────────╯              ╰────────╯                ╰────────╯                   |
//                          |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     |                             |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     | 
// ╭────────────────────────|─────| COMMA      |─────┼─────| DOT        |─────┼─────| Q          |─────┤                             ├─────| DEL        |─────┼─────| ESC        |─────┼─────| TAB        |─────┼─────|            |─────┤
// | 7                      | 8   ╰────────────╯     | 9   ╰────────────╯     | 10  ╰────────────╯     |                             | 11  ╰────────────╯     | 12  ╰────────────╯     | 13  ╰────────────╯     | 14  ╰────────────╯     |
// |                        |                        |                        |                        |                             |                        |                        |                        |                        |
// |                   ╭────────╮               ╭────────╮               ╭────────╮                    |                             |                    ╭────────╮               ╭────────╮               ╭────────╮                   | 
// |                   |        |               |        |               |        |                    |                             |                    |        |               |        |               |        |                   |
// |                   ╰────────╯               ╰────────╯               ╰────────╯                    |                             |                    ╰────────╯               ╰────────╯               ╰────────╯                   |
// |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     |                             |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     |     ╭────────────╮     |
// ├─────|            |─────┼─────|            |─────┼─────|            |─────┼─────| X          |─────┤                             ├─────| BSPACE     |─────┼─────| RET        |─────┼─────|            |─────┼─────|            |─────┤
// | 15  ╰────────────╯     | 16  ╰────────────╯     | 17  ╰────────────╯     | 18  ╰────────────╯     |                             | 19  ╰────────────╯     | 20  ╰────────────╯     | 21  ╰────────────╯     | 22  ╰────────────╯     |
// |                        |                        |                        |                        |                             |                        |                        |                        |                        |
// |                   ╭────────╮               ╭────────╮               ╭────────╮                    |                             |                    ╭────────╮               ╭────────╮               ╭────────╮                   | 
// |                   |        |               |        |               |        |                    |                             |                    |        |               |        |               |        |                   |
// |                   ╰────────╯               ╰────────╯               ╰────────╯                    |                             |                    ╰────────╯               ╰────────╯               ╰────────╯                   |
// |                        |                        |                        |                        |                             |                        |                        |                        |                        |
// ╰────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
//                                                   | 23                     | 24                     |                             | 25                     | 26                     |
//                                                   |                        |                        |                             |                        |                        |
//                                                   |                        |                        |                             |                        |                        |
//                                                   |                        |                        |                             |                        |                        |
//                                                   |                        |                        |                             |                        |                        |
//                                                   ╰────────────────────────┴────────────────────────╯                             ╰────────────────────────┴────────────────────────╯

/ {
    combos {
        compatible = "zmk,combos";
        // Letters
        combo_Q {
            timeout-ms = <50>;
            key-positions = <2 10>;
            bindings = <&kp Q>;
        };
        combo_Y {
            timeout-ms = <50>;
            key-positions = <1 2>;
            bindings = <&kp Y>;
        };
        combo_X {
            timeout-ms = <50>;
            key-positions = <10 18>;
            bindings = <&kp X>;
        };
        combo_C {
            timeout-ms = <50>;
            key-positions = <20 21>;
            bindings = <&kp C>;
        };
        combo_COMMA {
            timeout-ms = <50>;
            key-positions = <0 9>;
            bindings = <&kp COMMA>;
        };
        combo_DOT {
            timeout-ms = <50>;
            key-positions = <1 9>;
            bindings = <&kp DOT>;
        };
        combo_TAB {
            timeout-ms = <50>;
            key-positions = <5 13>;
            bindings = <&kp TAB>;
        };
        // FUNCTIONS
        combo_DEL {
            timeout-ms = <50>;
            key-positions = <3 11>;
            bindings = <&kp DEL>;
        };
        combo_BSPACE {
            timeout-ms = <50>;
            key-positions = <11 19>;
            bindings = <&kp BSPC>;
        };
        combo_RET {
            timeout-ms = <50>;
            key-positions = <12 20>;
            bindings = <&kp RET>;
        };
        combo_ESC {
            timeout-ms = <50>;
            key-positions = <4 12>;
            bindings = <&kp ESC>;
        };
        combo_nav {
            timeout-ms = <50>;
            key-positions = <19 20 21 22>;
            bindings = <&tog NAV>;
        };
    };
    behaviors {
        td_num:  tap_dance_0{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&sl 5>, <&sl 6>;
        };
        td_brc:  tap_dance_brc{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LBRC>, <&kp RBRC>;
        };
        td_bkt:  tap_dance_bkt{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LBKT>, <&kp RBKT>;
        };
        td_par:  tap_dance_par{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LPAR>, <&kp RPAR>;
        };
        td_lgt:  tap_dance_lgt{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp LT>, <&kp GT>;
        };
        td_slash:  tap_dance_slash{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp SLASH>, <&kp BACKSLASH>;
        };
        td_qt:  tap_dance_qt{
            compatible = "zmk,behavior-tap-dance";
            #binding-cells = <0>;
            tapping-term-ms = <300>;
            bindings = <&kp SQT>, <&kp DQT>;
        };
        lht: left_positional_hold_tap {
             compatible = "zmk,behavior-hold-tap";
             #binding-cells = <2>;
             flavor = "tap-preferred";
             tapping-term-ms = <300>;                        // <---[[produces tap if held longer than tapping-term-ms]]
             quick-tap-ms = <200>;
             require-prior-idle-ms = <125>;
             bindings = <&kp>, <&kp>;
             //hold-trigger-key-positions = < 6 7 8 9 10 18 19 20 21 22 30 31 32 33 34 39 40 41 >;    // <---[[Right-hand keys]]
        };
        rht: right_positional_hold_tap {
             compatible = "zmk,behavior-hold-tap";
             #binding-cells = <2>;
             flavor = "tap-preferred";
             tapping-term-ms = <300>;                        // <---[[produces tap if held longer than tapping-term-ms]]
             quick-tap-ms = <200>;
             require-prior-idle-ms = <125>;
             bindings = <&kp>, <&kp>;
             //hold-trigger-key-positions = < 1 2 3 4 5 13 14 15 16 17 25 26 27 28 29 36 37 38 >;    // <---[[Left-hand keys]]
        };
        mlt: momentary_layer_tap {
             compatible = "zmk,behavior-hold-tap";
             #binding-cells = <2>;
             flavor = "tap-preferred";
             tapping-term-ms = <300>;                        // <---[[produces tap if held longer than tapping-term-ms]]
             quick-tap-ms = <200>;
             require-prior-idle-ms = <125>;
             bindings = <&mo>, <&kp>;
             //hold-trigger-key-positions = < 1 2 3 4 5 13 14 15 16 17 25 26 27 28 29 36 37 38 >;    // <---[[Left-hand keys]]
        };
    };
    keymap {
        compatible = "zmk,keymap";

        base_layer {
            display-name = "Base";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮             ╭────────────────────────┬────────────────────────┬────────────────────────╮                          
                              &kp Z                    &kp M                    &kp P                                  &kp G                    &kp F                    &kp R                     
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────╮
     &lht LCTRL A             &lht LALT O              &lht LGUI  E             &mlt 1 I                               &kp D                    &kp T                    &rht RALT N              &rht RCTRL S
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &kp U                    &mlt 6 B                 &mlt 3 W                 &mlt 4 V                               &kp H                    &kp K                    &mlt 8 J                 &kp L
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                       &mo 1                    &kp LSHFT                              &kp SPC                  &kp RET
//                                                   ╰────────────────────────┴────────────────────────╯             ╰────────────────────────┴────────────────────────╯                           
            >;
        };

        Num_layer {
            display-name = "Num";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮             ╭────────────────────────┬────────────────────────┬────────────────────────╮                          
                              &kp Z                    &kp M                    &kp P                                  &kp N7                   &kp N8                   &kp N9                   
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────╮
     &lht LCTRL A             &lht LALT O              &lht LGUI  E             &mlt 1 I                               &kp N4                   &kp N5                   &kp N6                   &kp DOT     
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &kp U                    &mlt 6 B                 &mlt 3 W                 &mlt 4 V                               &kp N1                   &kp N2                   &kp N3                   &kp COMMA
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                       &mo 1                    &kp LSHFT                              &kp N0                   &tog NUM
//                                                   ╰────────────────────────┴────────────────────────╯             ╰────────────────────────┴────────────────────────╯                           

            >;
        };
        
        Nav_layer {
            display-name = "Nav";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮             ╭────────────────────────┬────────────────────────┬────────────────────────╮                          
                              &kp Z                    &kp M                    &kp P                                  &kp N7                   &kp N8                   &kp N9                  
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────╮
     &lht LCTRL A             &lht LALT O              &lht LGUI  E             &mlt 1 I                               &kp N4                   &kp N5                   &kp N6                   &kp DOT     
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &kp U                    &mlt 6 B                 &mlt 3 W                 &mlt 4 V                               &kp LEFT                 &kp DOWN                 &kp UP                   &kp RIGHT
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                       &mo 1                    &kp LSHFT                              &kp N0                   &none    
//                                                   ╰────────────────────────┴────────────────────────╯             ╰────────────────────────┴────────────────────────╯                           
            >;
        };
        Sym1_layer {
            display-name = "Sym1";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮             ╭────────────────────────┬────────────────────────┬────────────────────────╮                          
                              &kp B                    &kp F                    &kp P                                  &kp PERCENT              &kp CARET                &kp UNDERSCORE           
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────╮
     &kp A                    &kp O                    &kp E                    &kp I                                  &kp COLON                &kp SEMI                 &kp QMARK                &kp AT      
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &none                    &kp X                    &kp C                    &kp V                                  &kp EQUAL                &kp PLUS                 &kp MINUS                &kp ASTERISK
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                       &mo 1                    &kp LSHFT                              &kp N0                   &none    
//                                                   ╰────────────────────────┴────────────────────────╯             ╰────────────────────────┴────────────────────────╯                           
            >;
        };

        Sym2_layer {
            display-name = "Sym2";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮             ╭────────────────────────┬────────────────────────┬────────────────────────╮                          
                              &kp B                    &kp F                    &kp P                                  &kp DOLLAR               &kp CARET                &kp PIPE                 
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────╮
     &kp A                    &kp O                    &kp E                    &kp I                                  &td_slash                &kp POUND                &kp EXCLAMATION          &td_qt      
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┼───────────────────────┤
     &none                    &kp X                    &kp C                    &kp V                                  &td_par                  &td_brc                  &td_bkt                  &td_lgt     
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤             ├────────────────────────┼────────────────────────┼────────────────────────┴───────────────────────╯
                                                       &mo 1                    &kp LSHFT                              &kp N0                   &none    
//                                                   ╰────────────────────────┴────────────────────────╯             ╰────────────────────────┴────────────────────────╯                           
            >;
        };
        Fun_layer {
            display-name = "Fun";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮                             ╭────────────────────────┬────────────────────────┬────────────────────────╮
                              &kp B                    &kp F                    &kp P                                                  &bt BT_SEL 6             &bt BT_SEL 7             &bt BT_SEL 8             
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╮
     &kp A                    &kp O                    &kp E                    &kp I                                                  &bt BT_SEL 3             &bt BT_SEL 4             &bt BT_SEL 5             &out OUT_BLE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &kp U                    &kp X                    &kp C                    &kp V                                                  &bt BT_SEL 0             &bt BT_SEL 1             &bt BT_SEL 2             &bt BT_CLR
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                       &mo 1                    &kp LSHFT                                              &kp SPC                  &tog FUN
//                                                   ╰────────────────────────┴────────────────────────╯                             ╰────────────────────────┴────────────────────────╯
            >;
        };
        
        BLE_layer {
            display-name = "BLE";
            bindings = <
//                          ╭────────────────────────┬────────────────────────┬────────────────────────╮                             ╭────────────────────────┬────────────────────────┬────────────────────────╮
                              &kp B                    &kp F                    &kp P                                                  &bt BT_SEL 6             &bt BT_SEL 7             &bt BT_SEL 8             
// ╭────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╮
     &kp A                    &kp O                    &kp E                    &kp I                                                  &bt BT_SEL 3             &bt BT_SEL 4             &bt BT_SEL 5             &out OUT_BLE
// ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────┤
     &kp U                    &kp X                    &kp C                    &kp V                                                  &bt BT_SEL 0             &bt BT_SEL 1             &bt BT_SEL 2             &out OUT_USB
// ╰────────────────────────┴────────────────────────┴────────────────────────┴────────────────────────┤                             ├────────────────────────┼────────────────────────┼────────────────────────┼────────────────────────╯
                                                       &mo 1                    &kp LSHFT                                              &kp SPC                  &bt BT_CLR
//                                                   ╰────────────────────────┴────────────────────────╯                             ╰────────────────────────┴────────────────────────╯
            >;
        };
};
